// Colours partial

// Text colours
$txt-primary: #F7717D;
// body font
$txt-secondary: #a7c3dc;
// heading font
$txt-light: #4a5979;
// header/hero
$txt-accent: #a7c3dc;
$form-placeholder: #a7c3dc;
// form placeholder text
// Global colours
$accent-color: #a7c3dc;
// global accent colour
$accent-color-hover: #f4eddf;
// global accent colour hover
$white-color: #f4eddf;
$black-color: #000;
// Typography colours
$text-light: #4a5979;
$text-light-hover: darken($text-light, 10%);
$text-dark: #4a5979;
$text-dark-hover: #4897db;
$h2-color: #F7717D;
$h3-color: #F7717D;
$h5-color: #F7717D;
// Layout colours
$section-light: #f4eddf;
$section-dark: #a7c3dc;
$to-top-bg: #f4eddf;
$footer-primary: #f4eddf;
$footer-secondary: #f4eddf;
// Keylines
$keyline-color: #f4eddf;
$footer-keyline-color: #4E566C;