// Layout variables partial

$section-padding: 40px 0;

section.features-extra, section.date, section.title, section.nav, section.faq, section.recommendations, section.itinerary-wedding {
	background: $section-light;
	color: $text-dark;
	a {
		color: $text-dark;
		&:hover {
		  color: $text-dark-hover;
		}
	}
	hr {
		border-color: $text-dark;
	}
}

section.features, section.events, section.blog, section.itinerary-drinks, section.party, footer {
	background: $section-dark;
	color: $text-light;

	a {
		color: $text-light;
		&:hover {
		  color: $text-light-hover;
		}
	}

	hr {
		border-color: $text-light;
	}
}