// Layout variables partial

$section-padding: 40px 0;

section.features-extra, section.rsvp, section.date, section.title, section.borders, section.accommodation, footer {
	background: $section-light;
	color: $text-dark;
}
section.features, section.events, section.blog, section.travel, section.itinerary {
	background: $section-dark;
	color: $text-light;
}